.page
{
    background-image: url('back.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    height:850px;
     width:1800px;
     margin: 15px;
     padding:20px;
     border-radius: 10px;
     border:3px solid;
}

h3
{
    color: gray;
    text-align: center;
    margin-left: 10px;
}
.box
{
    width: 250;
    height:200;
    background: linear-gradient(45deg,white,gainsboro);
    font-size: 18px;
    border-left: 4px solid grey;
    border-radius: 10px;
    padding: 7px;
    margin-left: 10px;
    align-items: center;
}
.container
{
    
    width: 900;
    margin-left: 440px;
    background:gainsboro;   
    border:4px solid grey;         
    padding: 3px;
    border-radius: 10px;          
    display: flex; 
    flex-direction: row;               
    align-items: center;          
    gap: 15px;                   
     
}
.maps
{
    
    width: 850;
    margin-left: 440px;
    background:linear-gradient(45deg,gray,gainsboro,white);            
    padding: 15px;
    border-radius: 10px;          
    display: flex; 
    flex-direction: row;               
    align-items: center;          
    gap: 15px;                   
     
}
.head
{
    
    width: 850;
    margin-left: 440px;
    background:linear-gradient(45deg,black,gray);           
    padding: 15px;
    border-radius: 7px;          
    display: flex; 
    flex-direction: row;               
    align-items: center;          
    color: white; 
    font-size: 20px;
    justify-content: center;
                     
     
}
.boxes
 {
  display: flex;
  gap: 40px; 
  margin-left: 400px;
 }
.footer
{
    
    background-color: grey;
    margin-top: 42px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50px; 
    color: white;
}


div p
{
    color:gray;
    margin-left: 0;
    text-align: center;
}
.header
{
    position: fixed;
    top: 30px;
    right: 50px;
    font-family: Verdana, sans-serif; 
    font-size: 22px;
    color:white;
}
a:hover
{
    background-color:PIN;
    color:white;
}
.header a 
{
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: gray;
    color:white;
    font-size: 16px;
}
