.page
{
    background-image: url('back.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    height:850px;
     width:1800px;
     margin: 15px;
     padding:20px;
     border-radius: 10px;
     border:3px solid;
     color:white;
}
.box
{
    margin-left: 800px;
    display: flex;
    background:linear-gradient(45deg,grey,white);
    height: 800px;
    justify-content:center;
}


.container
{
    
    width: 900;
    margin-left: 440px;
    background:gainsboro;   
    border:4px solid grey;         
    padding: 3px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;                   
    gap: 15px;                   
     
}


.footer
{
    
    background-color: grey;
    margin-top: 42px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50px; 
    color: white;
}


.header
{
    position: fixed;
    top: 30px;
    right: 50px;
    font-family: Verdana, sans-serif; 
    font-size: 22px;
    color:white;
}
a:hover
{
    background-color:PIN;
    color:white;
}
.header a 
{
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: gray;
    color:white;
    font-size: 16px;
}
